extend ../Layout.pug

block pageCSS
	link(href="./css/checkin.css", rel="stylesheet")

block pageJs
	script(src="./js/checkin.js")
	

block head
	include ../components/Header.pug

block footer
	include ../components/Footer.pug

block body
	article.checkin-page
		.gift-box
			figure.gift
				img(src="./images/check.png")
			figure.received
				img(src="./images/received.png")
		.qr-code-box
			figure.qr-code
				img(src="http://s05.calm9.com/qrcode/2021-03/97ZN65XMNP.png")
		.timer
			.time#time 00:00
			.time#reload 重新載入
			//- .time 重新載入
			//- figure.reload
				img(src="./images/reload.png")



