extend ../Layout.pug

block pageCSS
  link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/liff_inital_js_template_v3.js")


block head
  include ../components/Header.pug

block footer
  include ../components/Footer.pug

block body
  article.index-page
    a.btn(href="./checkin.html") 
      figure
        img(src="./images/btn01.png")
    a.btn(href="./info.html") 
      figure
        img(src="./images/btn02.png")
    a.btn(href="./search.html") 
      figure
        img(src="./images/btn03.png")

