extend ../Layout.pug

block pageCSS
  link(href="./css/info.css", rel="stylesheet")

block pageJs
  script(src="./js/info.js")
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.info-page
    .load#load
      figure
        img(src="./images/load.svg")
    figure.flowchart
      img(src="./images/flowchart.jpg")
    figure.map
      img(src="./images/map.jpg")