doctype html
html(lang="zh-Hant-TW")
  head
    include partials/Meta.pug
    include partials/CssLink.pug
    block pageCSS
    include partials/JsSrc.pug
  body
    .body-wrapper#mainBody
      block head
      block body
      block footer
    .qr-code#QRCode
      figure
        img(src="./images/shaklee qrcode.png")
        figcaption 請用手機掃描QR code開啟
    .wait#wait
      figure
        img(src="./images/wait.png")
    block pageJs


    