doctype html
html(lang="zh-Hant-TW")
  head
    include partials/Meta.pug
    include partials/CssLink.pug
    block pageCSS
  body
    .body-wrapper
      block head
      block body
      block footer
    include partials/JsSrc.pug
    block pageJs


    